/*.label {*/
/*    -fx-pref-width: inherit;*/
/*    -fx-text-alignment: center;*/
/*}*/

.Rectangle {
    -fx-background-color: white;
}

/*#stats-parent {*/
/*    -fx-alignment: center;*/
/*}*/

#btn {
    -fx-background-color: #090a0c, linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),  linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

#btn:focused {
}

#btn:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#name {
    -fx-font-size: 50px;
}

#type {
    -fx-font-size: 30px;
}

#vbox-left {
    -fx-font-size: 20px;
}

#vbox-right {
    -fx-font-size: 24px;
}

#ability-title {
    -fx-font-size: 26px;
}

#vbox-bottom {
    -fx-font-size: 20px;
}