/*@font-face {*/
/*    font-family: main-font;*/
/*    src: url(../assets/main-font.otf);*/
/*}*/

/*.root {*/
/*    -fx-font-family: main-font;*/
/*}*/

.button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}